* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Arial', sans-serif;
    color: black;
}
h1{
    color:  rgb(168, 20, 20);
    font-size: 16px;
}

.rental {
    width: 80%;
    margin: auto;
    border: 2px solid rgb(168, 20, 20);
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

hr {
    width: 100%;
    border: 1px solid rgb(118, 84, 84);
    margin: 20px 0;
}

form {
    display: flex;
    flex-direction: column;
}

.resident {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
   
}

.resident h1 {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    color:black;
}
.form h1{
    color: black;
    
}
.form p{
    font-size: 10px;
    color: black;
    font-weight: 100;
}

.resident .img {
    width: 50%;
    margin-top: 20px;
}


.resident .img img {
    width: 100%;
    border-radius: 8px;
}

.name {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 10px;
}

.name div {
    width: 30%;
}

.name input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    
}

.form {
    padding: 10px;
    margin: 20px 20px 0px 20px;
    /* border: 1px solid rgb(168, 20, 20); */
    
}

.form h1 {
    font-size: 16px;
    margin-bottom: 10px;
}

.number {
    display: flex;
}

button {
    margin-top: 20px;
    padding: 12px 20px;
    background-color: rgb(60, 179, 113);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.name .current{
    width: 80%;
    /* background-color: red; */
}
.name .zip{
    width: 40%;
}
.name .city{
    width: 40%;
}
.name .date{
    width: 50%;
}

/* Media Queries for Responsiveness */
@media screen and (max-width: 768px) {
    
.rental {
    width: 100%;
    margin: 0;
   
    padding: 0px;
   
   
}
.name .date{
    width: 100%;
}
.name .city{
    width: 45%;
}
.rent{
    text-align: center;
    font-size: 18px;
}


.name .zip{
    width: 100%;
}
    .form{
        margin: 0;
        width: 100%;
    }

    .resident .img {
        width: 80%;
    }
    
.name div {
    width: 100%;
    
}

.container {
    display: flex;
    justify-content:left;
   
}

    /* Responsive Textarea */
    .form textarea {
        width: 100%;
        box-sizing: border-box;
        padding: 10px;
        margin-bottom: 10px;
    }
    
.name {
    display: flex;
    flex-wrap: wrap;
    gap: 18px;
    margin-top: 10px;
}
.firstname{
    
    /* background-color: red; */
}
form{
    width: 100%;
}

 .name .first{
    width: 45%;
}
.name .current{
    width: 100%;
    /* background-color: red; */
}

.resident .img {
    width: 30%;
    margin-top: 20px;
}

.resident .img img {
    width: 100%;
    border-radius: 8px;
}
}
